html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: Arial;
  font-size: 14px;
}

/*Colors*/
.bg-gray {
  background: #e5e5e5;
}

/*General*/
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}
.br-20 {
  border-radius: 20px;
}
.border-bottom-1 {
  border: 0px;
  border-bottom: 1px;
  border-color: #cecece;
  border-style: solid;
}
.m-auto {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.mb-16{
  margin-bottom: 16px;
}
.my-8{
  margin-top: 8px;
  margin-bottom: 8px;
}
.mr-16{
  margin-right: 16px;
}

/*Specials*/
.centerSearch {
  flex: 1;
  align-self: center;
  align-content: center;
}
.profile {
  height: 26px;
  width: 26px;
}
.inputIcon{
  height: 24px;
  width: 24px;
}
.search{
  border: 1px solid #b1b1b1;
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 4px 12px;
}
.search input {
  flex: 1;
  height: 26px;
  width: 400px;
  font-size: 16px;
  border: 0px;
  outline: none;
}
.divSearch{
  display: flex;
  margin-top: 20px;
}
.btnSearch{
  margin: auto;
  font-size: 18px;
  padding: 10px 14px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}
.resultsContainer {
  display: flex;
  width: 100%;
}
.sectionA {
  width: 70%;
  padding: 16px;
}
.sectionB {
  width: 30%;
  padding: 16px;
}
.resultItem {
  margin-bottom: 24px;
}
.resultUrl {
  color: black;
  font-size: 14px;
  text-decoration: none;
}
.resultTitle {
  margin: 4px 0;
  font-size: 16px;
  font-weight: bold;
  color: rgb(59, 59, 171);
  cursor: pointer;
}
.resultDescription {
  margin: 0;
}
.featureBox {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
}
.featureImage {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}
.loading{
  background: #cecece;
  margin-bottom: 8px;
}
.loadingDiv{
  margin-bottom: 40px;
}
.btn-none{
  background: none;
  border: 0px;
  cursor: pointer;
  display: flex;
}